# Directories
ags/
autostart/
Code/
dconf/
gh/
go/
gtk-3.0/
gtk-4.0/
htop/
HyprDF/
hypr.bak/
kdeconnect/
matugen/
mozilla/
nautilus/
net.imput.helium/
nvim/
nwg-look/
pcloud/
pulse/
rofi/
spicetify/
spotify/
swaync/
Thunar/
waybar/
wlogout/
xfce4/
xsettingsd/
yay/
zen/
ristretto/


# Files
baloofileinformationrc
dolphinrc
gtkrc-2.0
kactivitymanagerdrc
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
pavucontrol.ini


#zsh
zsh/ohmyzsh
zsh/plugins

